[submodule "gpg"]
  path = gpg
  url = git@github.com:Amheklerior/gpg.git
  branch = main
[submodule "ssh"]
  path = ssh
  url = git@github.com:Amheklerior/ssh.git
  branch = main
[submodule "packages"]
	path = packages
	url = git@github.com:Amheklerior/packages.git
	branch = main
